.activity-wrapper {
  width: 100%;
}
.icons {
  background-color: rgba(158, 157, 157, 0.518);
  width: 45px;
  height: 45px;
}
.maintitle {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 24px;
}
.subtitle{
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}
.banner {
  background: linear-gradient(to right, #fe7c30, #f1a75b);
  padding: 12px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 687px;
  height: 160px;
  margin-top: -6px;
}

.banner img {
  width: 230px;
  border-radius: 12px;
}

.cards-row {
  display: flex;
  gap: 10px;
  margin-top: 25px;
}

.card {
  width: 220px;
  height: 140px;
  border-radius: 18px;
  padding: 18px;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.card.blue {
  background: #01b0d3;
  display: flex;
  gap: 10px;
}
.card-header {
  display: flex;
  align-items: center;
  gap: 14px;
}
.card-icon {
  width: 38px;
  height: 38px;
}
.card h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}
.card span {
  font-size: 13px;
  opacity: 0.9;
}
.wave-bg {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  opacity: 0.35;
}
.card.orange {
  background: #fb923c;
  display: flex;
  gap: 10px;
}
.card.purple {
  background: #a855f7;
  display: flex;
  gap: 10px;
}

.activity-wrapper {
  width: 100%;
}

.banner {
  background: linear-gradient(90deg, #dc5b10, #ff9f54);
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.banner-text {
  max-width: 55%;
  color: #fff;
}
.text {
  font-size: 16px;
  font-weight: 700;
  color: #475569;
  font-family: Manrope, sans-serif;
  font-weight: 400;
  margin-left: 35px;
}
.banner-text h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
}
