/* Logo */
.sidebar {
  margin-top: -7px;
  width: 160px;
  height: 98vh;
  background: #ffffff;
  border-right: 1px solid #e5e7eb;
  padding: 04px 10px;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}
.logo-container {
  width: 180px;
  height: 80px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 6px;
  margin-left: 30px;
}

.logo-text {
  color: #F97316;
  font-weight: 800;
  font-weight: bold;
  font-size: 18px;
}

.logo-img {
  width: 24px;
  height: 24px;
}

/* Menu */
.menu {
  padding: 0;
  margin: 6;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-item {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 16px;
  border-radius: 12px;
  color: #6b7280;
  cursor: pointer;
  font-size: 15px;
  position: relative;
}

.menu-item:hover {
  background: #ffe6d6;
}

.menu-item.active {
  background: #ff7a2c;
  color: #fff;
  font-weight: 500;
}

.menu-icon {
  width: 20px;
  height: 20px;
}

.icon {
  font-size: 19px;
}

.arrow-icon {
  position: absolute;
  right: 14px;
  font-size: 16px;
  color: #9ca3af;
}

/* Footer */
.footer-links {
  position: absolute;
  bottom: 22px;
  width: 100%;
}

.footer-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 0;
  color: #6b7280;
  cursor: pointer;
  font-size: 15px;
}

.footer-item:hover {
  color: #111827;
}

.footer-divider {
  width: 80%;
  height: 1px;
  /* margin: 15px 0; */
  background: #e5e7eb;
}
.main-divider {
  width: 80%;
  height: 1px;
  /* margin: 15px 0; */
  background: #e5e7eb;
  margin-left: 10px;
  margin-top: -22px;
}
