.dashboard {
  display: flex;
}

.main {
  /* width: 100%; */
  background: #f6f3f3;
  width:1076px;
  margin-top: -15px;
}

.content {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.left {
  width: 710px;
  flex: 3;
}

.right {
  /* flex: 1; */
  margin-top: -23px;
}
